langchain
langchain-community
numpy
pandas
pymupdf
langchain_text_splitters
sentence-transformers
typing
faiss-cpu
langchain-groq
langchain-core
dotenv
langgraph
fastapi
pydantic
uvicorn
streamlit
psycopg2-binary
pandas
bs4
langchain-classic
langgraph-checkpoint-postgres
pyshorteners
twilio
python-multipart